.btn-random{
  margin-top: 8px;
  padding: 2px 4px;
  background-color: rgb(38, 38, 145);
  color: #fff;
  border-radius: 4px;
  font-size: 2rem;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}

.pic {
  margin-top: 10px;
}