.header {
  display:  flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(74, 74, 208);
  color: #fff;
  padding: 8px;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  &__left {
    color: black;
  }
  &__home {
    color: #fff;
  }
  &__link {
    color: yellow;
  }

}